@(user: User)

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>User</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
    </head>
    <body>

        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script type='text/javascript' src="@routes.Assets.at("js/user.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.ProjectController.toProjectListPage()">FATCAT</a>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        @*<li><a href="#">Link</a></li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><p class="navbar-text">Hello, </p></li>
                            <li>
                                <p class="navbar-text">
                                    @user.getFirstName() @user.getLastName()
                                </p>
                            </li>
                            <li class="divider"></li>
                            <li><a href="@routes.Application.logout()">Log out</a></li>
                        </ul>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row text-center">
                <div class="" style="width=100%; min-height: 100px;"></div>
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <h2>...WELCOME...</h2>
                    <h2>@user.getFirstName @user.getLastName</h2>
                </div>
            </div>


            <div class="row col-sm-10 col-sm-offset-2">
                <div class="col-xs-6 col-md-3 text-center">
                    <a href="@routes.UserController.toAddUserPage()" class="thumbnail">
                        <img src="@routes.Assets.at("/img/cat1.jpg")" >
                        <h4>USER</h4>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 text-center">
                    <a href="@routes.TeamController.toTeamPage()" class="thumbnail">
                        <img src="@routes.Assets.at("/img/cat1.jpg")" >
                        <h4>TEAM</h4>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 text-center">
                    <a href="@routes.ProjectController.toAddProjectPage()" class="thumbnail">
                        <img src="@routes.Assets.at("/img/cat1.jpg")" >
                        <h4>PROJECT</h4>
                    </a>
                </div>


            </div>
                <div class="row col-sm-10 col-sm-offset-2">
                    <div class="col-xs-6 col-md-3 text-center">
                        <a href="@routes.VoteController.toAddVoteCatPage()" class="thumbnail">
                            <img src="@routes.Assets.at("/img/cat1.jpg")" >
                            <h4>VOTE CATEGORY</h4>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 text-center">
                        <a href="@routes.History.toVoteLog()" class="thumbnail">
                            <img src="@routes.Assets.at("/img/cat1.jpg")" >
                            <h4>VOTE LOG</h4>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 text-center">
                        <a href="@routes.VoteController.toResultPage()" class="thumbnail">
                            <img src="@routes.Assets.at("/img/cat1.jpg")" >
                            <h4>RESULT</h4>
                        </a>
                    </div>
                </div>
            </div>
    </body>
</html>