@(user: User)

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>User</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/main.css")">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script type='text/javascript' src="@routes.Assets.at("js/user.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <a class="navbar-brand" href="/projectlist">eXceedvote</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <div class="navbar-text">
                                <script src="@routes.Assets.at("js/countdown.js")"></script>
                                <script>
                                setcountdown(@Deadline.getDeadline().getYear(),
                                    @Deadline.getDeadline().getMonth(),
                                    @Deadline.getDeadline().getDay(),
                                    @Deadline.getDeadline().getHour(),
                                    @Deadline.getDeadline().getMin(),
                                    @Deadline.getDeadline().getSec());
                                </script>
                                <ilayer id="countdownnsmain" width=&{countdownwidth}; height=&{countdownheight}; visibility=hide width="100px">
                                    <layer id="countdownnssub" width=&{countdownwidth}; height=&{countdownheight}; left=0 top=0>
                                    </layer>
                                </ilayer>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        @*<li><a href="#">Link</a></li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a>Hello, </a></li>
                            <li><a><h4>@user.getFirstName() @user.getLastName()</h4></a></li>
                            <li class="divider"></li>
                            @if(user.getType() == User.ADMIN) {
                                <li><a href="/admin">Admin</a></li>
                            }
                            <li><a href="@routes.Application.logout()">Log out</a></li>
                        </ul>
                    </li>
                    </ul>
                </div>
                <ol class="breadcrumb" style="background: #f0f0f0;">
                    <li><a href="/projectlist">Main</a></li>
                    <li class="active">Admin</li>
                </ol>
            </div>
        </nav>

        <div class="container">
            <div class="row" style="margin-top: 150px;">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    <h2><b> ...WELCOME... </b></h2>
                    <h2>@user.getFirstName @user.getLastName</h2>
                </div>
            </div>


            <div class="row col-sm-10 col-sm-offset-2">
                <div class="col-xs-6 col-md-3 text-center">
                    <a href="@routes.UserController.toAddUserPage()" class="thumbnail">
                        <img src="@routes.Assets.at("/img/pusheen1.jpg")" >
                        <h4>USER</h4>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 text-center">
                    <a href="@routes.TeamController.toTeamPage()" class="thumbnail">
                        <img src="@routes.Assets.at("/img/pusheen2.jpg")" >
                        <h4>TEAM</h4>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3 text-center">
                    <a href="@routes.ProjectController.toAddProjectPage()" class="thumbnail">
                        <img src="@routes.Assets.at("/img/pusheen3.jpg")" >
                        <h4>PROJECT</h4>
                    </a>
                </div>


            </div>
                <div class="row col-sm-10 col-sm-offset-2">
                    <div class="col-xs-6 col-md-3 text-center">
                        <a href="@routes.VoteController.toAddVoteCatPage()" class="thumbnail">
                            <img src="@routes.Assets.at("/img/pusheen4.jpg")" >
                            <h4>VOTE CATEGORY</h4>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 text-center">
                        <a href="@routes.History.toVoteLog()" class="thumbnail">
                            <img src="@routes.Assets.at("/img/pusheen5.jpg")" >
                            <h4>VOTE LOG</h4>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 text-center">
                        <a href="@routes.VoteController.toResultPage()" class="thumbnail">
                            <img src="@routes.Assets.at("/img/pusheen6.jpg")" >
                            <h4>RESULT</h4>
                        </a>
                    </div>
                </div>
            </div>
    </body>
</html>