@(form: Form[Application.Login])
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Log in</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheetes/stylesheet.css"))">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                @helper.form(routes.Application.authenticate) {
                    <h1>Sign in</h1>
                    @if(form.hasGlobalErrors) {
                        <p class="error">
                        @form.globalError.message
                        </p>
                    }
                    <p>
                        <input class="form-control" type="username" name="username" placeholder="Username" value="@form("username").value" required autocomplete="on">
                    </p>
                    <p>
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                    </p>
                    <p>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </p>
                }
            </div>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
</body>
</html>