@(user: User, projects: List[Project])
<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>ExceedVote - Project</title>
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/main.css")">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script type='text/javascript' src="@routes.Assets.at("js/project.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <a class="navbar-brand" href="/projectlist">eXceedvote</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <div class="navbar-text">
                                <script src="@routes.Assets.at("js/countdown.js")"></script>
                                <script>
                                setcountdown(@Deadline.getDeadline().getYear(),
                                    @Deadline.getDeadline().getMonth(),
                                    @Deadline.getDeadline().getDay(),
                                    @Deadline.getDeadline().getHour(),
                                    @Deadline.getDeadline().getMin(),
                                    @Deadline.getDeadline().getSec());
                                </script>
                                <ilayer id="countdownnsmain" width=&{countdownwidth}; height=&{countdownheight}; visibility=hide width="100px">
                                    <layer id="countdownnssub" width=&{countdownwidth}; height=&{countdownheight}; left=0 top=0>
                                    </layer>
                                </ilayer>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        @*<li><a href="#">Link</a></li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a>Hello, </a></li>
                                <li><a><h4>@user.getFirstName() @user.getLastName()</h4></a></li>
                                <li class="divider"></li>
                                @if(user.getType() == User.ADMIN) {
                                    <li><a href="/admin">Admin</a></li>
                                }
                                <li><a href="@routes.Application.logout()">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ol class="breadcrumb" style="background: #f0f0f0;">
                    <li class="active">Project List</li>
                </ol>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="" style="width: 100%; min-height: 100px;"></div>
                <div class="col-lg-2" style="width: 20%; background-color: #a94442"></div>
                <div class="col-lg-6" style="max-width: 60%;">

                    <div class="btn-group-vertical" role="group">
                    @projects.map { list =>
                        <a href="@routes.ProjectController.toProjectPage(list.getId)" style="text-decoration: none;"><div style="background: #afd9ee; min-width: 500pt; min-height: 150pt; margin-top: 25pt; margin-bottom: 25pt; padding: 15pt; color: #fff">
                            <div class="col-lg-4">
                                @if(list.getProjectName == "Fatcat") {
                                    <img src="https://dl-web.dropbox.com/get/ExceedVote/f.png?_subject_uid=71627828&w=AABhqdpdkFteNA-eFTdgYc26anYeRfz4OoTk1Q0oInT4xw" alt="Fatcat" style="width:150px;height:150px">
                                } else { @if(list.getProjectName == "2Big2Slim") {
                                    <img src="https://dl-web.dropbox.com/get/ExceedVote/2.png?_subject_uid=71627828&w=AAAn8UhSvHoTOebarNz-wTU6rQPdXgr8PBqQK57bJVgzzQ" alt="2Big2Slim" style="width:150px;height:150px">
                                } else { @if(list.getProjectName == "Manat") {
                                    <img src="https://dl-web.dropbox.com/get/ExceedVote/m.png?_subject_uid=71627828&w=AACN2vaRgYRCYT06VHILNxCqO80mRiuPgL3AiKT58epNxg" alt="Manat" style="width:150px;height:150px">
                                } else { @if(list.getProjectName == "Saint4") {
                                    <img src="https://dl-web.dropbox.com/get/ExceedVote/S.png?_subject_uid=71627828&w=AADPKA0azrFsyz_hfReUsTzKQ4N347kXX_gqipnj74Fb0w" alt="Saint4" style="width:150px;height:150px">
                                } else {
                                    <img src="@Image.getByProjectId(list.getId).get(0).getUrl()" alt="@Image.getByProjectId(list.getId).get(0).getName()" style="width:150px;height:150px">
                                }}}}
                            </div>
                            <div class="col-lg-4">
                                <h2>@list.getProjectName()</h2>
                                <i>by @Team.findById(list.getTeamId).getName()</i><br>
                                Description: @list.getBriefDesc()<br>
                            </div>
                        </div></a>
                    }
                    </div>
                </div>
                <div class="col-lg-2" style="width: 20%; background-color: #04663e"></div>
            </div>
        </div>

    </body>
</html>