@(userList: List[User] , teamList: List[Team])

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Team Member</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
    </head>

    <body>

        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script type="text/javascript">

        </script>
        <script type='text/javascript' src="@routes.Assets.at("js/user.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/login">INDEX</a>
                </div>
                <div style="color: #f9f2f4;">
                    <h2>Team</h2>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="" style="width=100%; min-height: 100px;"></div>
                <div class="col-sm-4 col-sm-offset-4 text-center">

                    <form action="@routes.Application.addTeam()" method="post" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Team</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="focusedInput" type="text" name="name" placeholder="Team Name"/>

                            </div>
                </div>
                        <button class="btn btn-primary">Create Team</button>
                    </form>

                    <div class="" style="width=100%; min-height: 100px;"></div>

                    <form action="@routes.Application.addMember()" method="post" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Select Team</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="focusedInput" type="text" name="teamName">
                                    @teamList.map { list =>
                                        <option>@list.getName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Select User</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="focusedInput" type="text" name="username">
                                    @userList.map { list =>
                                        <option>@list.getUsername</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary">Add Member</button>
                    </form>
                </div>
            </div>

            <div class="row" style="background-color: #d0e9c6; margin-top: 50px; padding: 50px;">
                <h1>Team Lists</h1>
                @teamList.map { list =>
                    <h3><u>@list.getName()</u> (ID: @list.getId())</h3>
                    <table class="table table-hover">
                        <tr>
                            <th>Username</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                        </tr>
                        @list.getMembers().map { listlist =>
                            <tr>
                                <td>@listlist.getUsername()</td>
                                <td>@listlist.getFirstName()</td>
                                <td>@listlist.getLastName()</td>
                                <td>
                                    <form action="@routes.Application.removeMemberFromTeam()" method="post" class="form-horizontal" role="form">
                                        <input type="hidden" value=@list.getId() name="tId">
                                        <input type="hidden" value=@listlist.getId() name="uId">
                                        <button class="btn btn-danger">X</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>

        </div>
    </body>
</html>