<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
    <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/main.css")">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body>

    <script src="@routes.Assets.at("js/countdown.js")"></script>
    <script>
    setcountdown(@Deadline.getDeadline().getYear(),
        @Deadline.getDeadline().getMonth(),
        @Deadline.getDeadline().getDay(),
        @Deadline.getDeadline().getHour(),
        @Deadline.getDeadline().getMin(),
        @Deadline.getDeadline().getSec());
    </script>
    <ilayer id="countdownnsmain" width=&{countdownwidth}; height=&{countdownheight}; bgColor=&{countdownbgcolor}; visibility=hide>
        <layer id="countdownnssub" width=&{countdownwidth}; height=&{countdownheight}; left=0 top=0>
        </layer>
    </ilayer>

    <div class="container">
        <div class="row" style="margin-top: 150px;">
            <div class="col-sm-4">
                <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/11078183_864965093541990_602151941548373873_n.jpg?oh=8b29b8d8212572c19fe0fa4dc47059fc&oe=559E6494&__gda__=1436343209_21f5853f4f661bab7ac9ec357cd6c5d9">
            </div>
            <div class="col-sm-8">
                Project Name<br>
                by Me
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-sm-4">
                <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/11078183_864965093541990_602151941548373873_n.jpg?oh=8b29b8d8212572c19fe0fa4dc47059fc&oe=559E6494&__gda__=1436343209_21f5853f4f661bab7ac9ec357cd6c5d9">
            </div>
            <div class="col-sm-8">
                Project Name<br>
                by Me
            </div>
        </div>
    </div>

</body>
</html>