@(user: User, project: Project, voteCat: List[VoteCategory])
@main("Vote Page") {

    <h1> Welcome @(user.firstName +"  "+ user.lastName) to @project.ProjectName Vote Page</h1>
    Select category  to Vote <br>

    <ul>
    @voteCat.map { cat =>
        @cat.name:      Score :

        <form action="@routes.VoteController.manageVote()" method="post">
            <input type="text" score="score" />
        </form>

        <br><br>
    }
        <br>
        <button type="submit">Make Vote!</button><br>
    </ul>

}
