@(user: User, project: Project, voteCat: List[VoteCategory])

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Vote</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
    </head>
    <body>
        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <a class="navbar-brand" href="#">FATCAT</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Time <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a>Hello, </a></li>
                                <li><a><h4>@user.getFirstName() @user.getLastName()</h4></a></li>
                                <li class="divider"></li>
                                <li><a href="@routes.Application.logout()">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <ol class="breadcrumb" style="background: #f0f0f0;">
                    <li><a href="/projectlist">Project List</a></li>
                    <li><a href="/project=@project.getId()">@project.getProjectName()</a></li>
                    <li class="active">Vote</li>
                </ol>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="" style="width=100%; min-height: 120px;"></div>
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <h3>Rate Score : 0 - 5</h3><br>
                    <form action="@routes.VoteController.manageVote(project.getId)" method="post" class="form-horizontal" role="form">
                        @voteCat.map { list =>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@list.getName()</label>
                            <div class="col-sm-6">
                                <input type="range" min=0 max=5 value=0 id="@list.getName()" name="@list.getName()" list="volsettings">
                                <datalist id="volsettings">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </datalist>

                            </div>

                        </div>
                        }
                        <br>
                        <button class="btn btn-default">Vote</button>

                    </form>
                </div>
            </div>
        </div>

    </body>
</html>
